<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все посты найденные по запросу "{{ get_content }}"</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<main>
    <a href="/" class="link">Назад</a>

    <h1>Посты по запросу "{{ get_content }}"</h1>

    <div class="post">
        {% if content  %}
            {% for i in content %}
                <img src="{{ i.pic }}" width="100%" alt="">
                <p>{{ i.content }}</p>
            {% endfor %}
        {% else %}
            <h3>Не найдено совпадений</h3>
        {% endif %}
    </div>
    <hr>
    <a href="post_form.html" class="button">Добавить пост</a>

</main>
</body>
</html>
